doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title= 'Framework MVC: '+title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        // Place favicon.ico in the root directory
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body
        //if lt IE 8
          p.browserupgrade
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        // Add your site or application content here
        h1 Tienda

        ul
            each val in productos
                li
                    a()
                        img(src="/img/"+val.img)
                        =val.titulo


script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script.
            window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\\/script>')
        script(src='js/plugins.js')
        script(src='js/main.js')
     