<h1><%= title %></h1>

<div>
  <ul>
    <% data.forEach( function( model ){ %>
    <li>
      <a href="/categorias/<%= model.slug %>">
        <img src="/upload/categories/<%= model.image %>" alt="<%= model.name %>"/>
        <%= model.name %>
      </a>
    </li>
    <% }); %>
  </ul>
</div>
