<h1><%= title %></h1>
<div>
  <form action="/categorias/create" method="post">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <textarea id="description" name="description" class="form-control" rows="3" type="text" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="file" class="form-control" name="image" id="image" placeholder="Nombre">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
