body {
    height: 9500px;
    min-height: 100%;
    margin: 0;
}

.section-page {
    min-height: 400px;
    padding: 60px 0;
}

#velocity {
    left: 0;
    opacity: 1;
    position: relative
}

#header {
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
    text-align: center;
    will-change: top, scale;
}

.screen_num_1 {
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    -webkit-transform: translate3d(0, 0, 0) perspective(2000px);
    transform: translate3d(0, 0, 0) perspective(2000px);

    -webkit-perspective: 2000px;
    perspective: 2000px;
    will-change: top;
    width: 100%;
    
    width: 100%;
    min-height: 100%;
}

.screen__step {
    border: 1px solid #8c84ed;
    visibility: hidden;
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 10px;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0) rotate3d(1, 0, 0, 90deg);
}