.section-page {
    min-height: 100vh;
    overflow: hidden;
    padding: 40px 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-right {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-mobile {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 992px) {

    .no-padding-mobile {
        padding-left: 15px;
        padding-right: 15px;
    }

    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .no-padding-left {
        padding-left: 0;
        padding-right: 15px;
    }

    .no-padding-right {
        padding-left: 15px;
        padding-right: 0;
    }
}


.nav-site {
    right: 0;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.nav-site li {
    float: left;
    width: 20%;
}

@media screen and (min-width: 768px) {
    .nav-site {
        right: 0;
        top: 40%;
        text-align: right;
        width: auto;
    }
    .nav-site li {
        float: none;
        width: 100%;
    }
}

.nav-site ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-site a {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: block;
    font: normal normal normal 11px / 25px 'Open Sans', sans-serif;
    text-decoration: none;
    margin-bottom: 3px;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .nav-site a {
        padding: 5px 10px 5px;
    }
}

.nav-site a.active {
    background: #000;
}

.header-section {
    background: #f5f5f5;
    overflow: visible;
    position: relative;
    z-index: 10;
}

.header-section::after {
    background: linear-gradient(to bottom right, #f5f5f5 49%, transparent 50%);
    bottom: -85px;
    content: '';
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 30;
}

.header-section .scrollTo {
    bottom: -75px;
}

.player-section {
    background: url(/img/bg-01.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 0;
    position: relative;
}

.player-section .row {
    height: 720px;
}

.contact-section {
    position: relative;
}

.padding-section .row {
    padding-top: 60px;
    padding-bottom: 155px;
}

.player-section::after {
    background: linear-gradient(to left top, #fff 49%, transparent 50%);
    bottom: 0;
    content: '';
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 30;
}

.player-section .item {
    display: block;
    position: relative
}

.title,
.player-section .title {
    color: #fff;
    font: normal normal normal 40px / 45px Anton;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .player-section .title {
        font: normal normal normal 70px / 75px Anton;
    }
}

.generic-section {
    background: #ee3536;
    color: #fff;
    position: relative;
}

.generic-section::after {
    background: linear-gradient(to top right, #2d2e2c 49%, transparent 50%);
    bottom: 0;
    content: '';
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 30;
}

.contact-section {
    background: #2d2e2c;
    color: #fff;
}

.contact-section a {
    color: #ed3536;
    text-decoration: underline;
}

footer {
    background: #1f201f;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

footer img {
    display: inline-block;
    margin: 0 auto;
    max-width: 95%;
    vertical-align: middle;
}

.landing__section-partners .item::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.landing__section-partners .item {
    height: 50px;
    position: relative;
}

#title-nfl span {
    opacity: 0;
    position: relative;
    top: -150px;
}

#player1 {
    bottom: 0;
    background: url(/img/american-football-player-throwing-a-ball-1427x1917.png) no-repeat 120% 0%;
    background-size: 110% auto;
    float: left;
    height: 500px;
    left: -750px;
    max-width: 550px;
    position: absolute;
    width: 550px;
    /*50%;*/
    z-index: 10;
}

@media screen and (min-width: 768px) {
    #player1 {
        height: 700px;
        left: -750px;
        max-width: 750px;
        width: 750px;
    }
}

#player2 {
    background: url(/img/american-football-1064x1040.png) no-repeat 50% 50%;
    background-size: contain;
    float: right;
    height: 400px;
    max-width: 415px;
    position: absolute;
    width: 415px;
    /*50%;*/
    z-index: 5;
}

@media screen and (min-width: 768px) {
    #player2 {
        height: 500px;
        max-width: 515px;
        width: 515px;
    }
}

#ball {
    background: url(/img/american-football-900x812.png) no-repeat 50% 50%;
    background-size: contain;
    float: right;
    height: 60px;
    left: -100px;
    position: absolute;
    top: 40%;
    width: 105px;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    #ball {
        height: 90px;
        left: -150px;
        width: 135px;
    }
}

.item-mobile {
    margin: 0 auto;
    max-width: 400px;
    opacity: 0;
    width: 50%;
}

/* mobile-services-section */
.mobile-services-section {
    background: #fff;
    position: relative
}

.mobile-services-section .title {
    color: #2d2e2c;
}

.mobile-services-section::after {
    background: linear-gradient(to top right, #ee3536 49%, transparent 50%);
    bottom: 0;
    content: '';
    display: block;
    height: 85px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 30;
}

.bubble {
    animation-duration: 1s;
    animation-fill-mode: both;
    border-radius: 100%;
    background: #ee3536;
    color: #fff;
    cursor: pointer;
    height: 85px;
    font: normal normal normal 15px / 85px Anton;
    margin: 0 auto;
    overflow: hidden;
    perspective: 1000px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: all ease-in-out 1s;
    width: 85px;
}

@media screen and (min-width: 768px) {
    .bubble {
        font: normal normal normal 20px / 140px Anton;
        height: 140px;
        width: 140px;
    }
}

.bubble:hover {
    color: #fff;
    text-decoration: none;
}

.scrollTo {
    box-shadow: 0px 1px 9px 1px #00000063;
    bottom: 10px;
    border-radius: 100%;
    background: #00ae04;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    margin: 0 auto;
    padding: 19px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 70px;
    z-index: 40;
}


.flipper {
    height: inherit;
    -webkit-transition: .75s;
    -moz-transition: .75s;
    -ms-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container.hover .flipper,
.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container.flip .flipper,
.flip-container.hover .flipper,
.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back,
.front {
    border-radius: 100%;
    backface-visibility: hidden;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.back {
    background: #2d2e2c;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container {
    height: inherit;
}

@-webkit-keyframes chevron-pulse {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes chevron-pulse {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.tcon-svgchevron {
    height: 30px;
    width: 30px;
}

.tcon-svgchevron path {
    -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: #fff;
    stroke-width: 1px;
}

.tcon-svgchevron path.a1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.tcon-svgchevron path.a2 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.tcon-svgchevron path.a3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.landing__form {
    background: rgba(0, 0, 0, .3);
    max-width: 400px;
    margin: 15px auto 30px;
    padding: 25px 15px
}

@media screen and (min-width:768px) {
    .landing__form {
        padding: 35px 25px 45px
    }
}

.landing__form .form-control {
    background: rgba(255, 255, 255, .1);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #ed3536;
    border-radius: 0;
    color: #fff;
    height: 55px
}

.landing__form label,
.landing__form p {
    color: #fff;
    font: 100 13px/20px "Roboto", sans-serif;
    text-align: justify;
    text-transform: uppercase
}

.landing__form select option {
    color: #585858
}

.landing__form-submit {
    border-radius: 0;
    background-color: #ed3536;
    border-color: #ed3536;
    color: #fff;
    font: 100 18px/19px "Roboto", sans-serif;
    height: 55px;
    text-transform: uppercase;
    width: 100%
}

.landing__form-submit:active,
.landing__form-submit:focus,
.landing__form-submit:hover {
    background-color: #ad0f10;
    border-color: #ed3536;
    color: #fff
}

.landing__form-submit-text {
    font: inherit;
    margin: 0 0 0 5px
}